---
const { node } = Astro.props;
import SideBar from '../SideBarAjax.astro';
import { useUserAgent } from "astro-useragent";
let content = node.content;
const { source, isMobile } = useUserAgent(Astro.request.headers.get("user-agent"));

var featureImgSrcSet = ''
let ratio = 1;
let imgSrc = node.featuredImage?.node?.sourceUrl;
if(imgSrc){
    imgSrc = imgSrc.replace(import.meta.env.PUBLIC_WORDPRESS_API_HOST, import.meta.env.PUBLIC_IMG_HOST)
}
if(node.featuredImage?.node?.sourceUrl
    && node.featuredImage?.node?.mediaDetails?.width >0
    && node.featuredImage?.node?.mediaDetails?.height >0) {

    ratio = node.featuredImage.node.mediaDetails.width / node.featuredImage.node.mediaDetails.height;
    let h1 = (880 / ratio) | 0;
    let h2 = (500 / ratio) | 0;

    featureImgSrcSet =  imgSrc + '?q=80&w=550&h='+ h2 + ' 550w, '+
        imgSrc + '?q=80&w=800&h='+ h1 + ' 2000w';


}
---

 <h1 class="mb-2 pb-4 border-b-2">{node.title} </h1>
<!-- Display categories links if node has terms -->

<!-- Only show date if node is a Post -->
 {
    node.__typename === 'Post' ? 
    (

    <div class="md:flex">
        <div class="md:flex-1">
            <!-- Левый блок -->
            <p class='post-details' set:html={node.excerpt}> </p>
            <img class='featured-image'
                 src={imgSrc}
                 srcset={featureImgSrcSet}
                 alt={node.featuredImage?.node?.altText}
                 loading='lazy'
                 width={800}
                 height={(800 / ratio) | 0}
            >
            <div class="bg-base-100">
                <span class='post-details'>
                    <time datetime={node.date}>{new Date(node.date).toLocaleDateString()}</time>
                </span>
                { node.categories ?
                    node.categories.nodes.map(category => (<a class='' href={category.uri}>{category.name}</a>)) :
                    null
                }
            </div>

            <article set:html={content}>
            </article>
        </div>
        <div  class="md:w-96 right-0 top-0 h-full ml-4">
            <!-- Правый сайдбар -->

                <!-- Здесь будет загружен HTML -->
                <SideBar/>


        </div>
    </div>
    ):
    null
 }


<script pt type="text/partytown" >

</script>






 <style is:global>
    .wp-block-image img {
            width: 100%;
            height: auto;  
    }
</style>
<style>
    img.featured-image {
        width:100%;
        border-radius:  10px;
        height: auto;
    }
    .post-details {
        color: darkgrey;
        font-weight:300;
    }
    a.term-link {
        display: inline-block;
        height: 1.5rem;
        padding: .75rem;
        margin: .5rem .5rem .5rem 0;
        background: linear-gradient(90deg,#0076dc 0%,#7a1ba6 100%);
        color: #fff;
        border-radius: 10px;
        font-weight: bold;
    }
</style>
