---
import {cn} from "../../utils/styles";
import {IMAGE_SIZES} from "../../constants/image";
import {TRANSITION_ELEMENT_IDS} from "../../constants/transitions";
import {ROUTES} from "../../constants/routes";
import {formatDate, formatDateIso} from "../../utils/datetime";
import {DRAFT_TEXT} from "../../constants/data";
import Link from "../Link.astro";
import {Image} from "astro:assets";
import TagList from "../TagList.astro";
import {Icon} from "astro-icon/components";
const { post } = Astro.props;
import { setTransitionSlug, TRANSITION_ELEMENT_IDS } from '../../constants/transitions';
import Tag from "../Tag.astro";

const getTransitionNameFromElementId = setTransitionSlug({ pageSlug: post.uri });
import { getImageUrl } from "../../libs/utils.js";
import {getAbsoluteSiteUrl} from "../../libs/utils";



---

<div class="mb-1 pb-1 border-b-2">

        <Link href={getAbsoluteSiteUrl(post.urlPath)} variant="link-heading" set:html={post.title}>

        {
            post?.featuredImage?.srcPath && (
                <div class="md:shrink-0">
                        <Image src={getImageUrl(post.featuredImage.srcPath,400,230)} width={400}  height={230} alt="" />
                </div>
            )
        }
        </Link>

</div>

